@media screen and (max-width: 600px) {
  .section {
    padding: 2rem 2.5rem !important;
  }

  .header-content {
    .left-header {
      .image {
        img {
          filter: none;
        }
      }
    }

    .right-header {
      .btn-con {
        margin-bottom: 2rem;
      }
    }
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }

    .left-about {
      padding-right: 0px;
      p {
        padding-left: 0px;
      }
    }
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2.5rem;
      }

      .bg-text {
        font-size: 3rem;
      }
    }
  }

  .controls {
    .control {
      margin: 1rem 0.5rem !important;
    }
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .right-header {
    margin: 0px -7rem;
    .name {
      span {
        color: var(--color-white) !important;
        position: relative;
        &::before {
          animation: animate-first-name 6s linear infinite;
          @keyframes animate-first-name {
            15% {
              width: 0%;
            }

            40% {
              width: 51%;
            }

            65% {
              width: 51%;
            }
          }
        }
      }

      span::before,
      .last-name::before,
      .kaf::before {
        content: attr(data-text);
        position: absolute;
        width: 0px;
        height: 100%;
        color: var(--color-secondary);
        border-bottom: 4px solid var(--color-secondary);
        text-shadow: 0px 0px 2px var(--color-secondary);
        overflow: hidden;
      }

      .last-name {
        &::before {
          left: 0%;
          animation: animate-last-name 6s linear infinite;
          @keyframes animate-last-name {
            40% {
              width: 0%;
            }

            50% {
              width: 109%;
            }

            65% {
              width: 109%;
            }
          }
        }
      }

      .kaf {
        &::before {
          left: 0%;
          animation: animate-kaf 6s linear infinite;
          @keyframes animate-kaf {
            50% {
              width: 0%;
            }

            65% {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }

  .section {
    padding: 4rem 11rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-top: 2.5rem;
      margin-left: 0px;
      .i-c-2 {
        flex-direction: column;
        :last-child {
          margin-top: 1.5rem;
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      padding-top: 2.5rem;
    }
  }

  .portfolios {
    grid-template-columns: 1fr 1fr;
  }

  .main-title {
    h2 {
      font-size: 4rem;
      span {
        font-size: 4rem;
      }

      .bg-text {
        font-size: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }

  header {
    padding: 0px;
    .header-content {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
      .left-header {
        .h-shape {
          display: none;
        }

        .image {
          margin: 0px auto;
          width: 90%;
        }
      }

      .right-header {
        padding: 0px !important;
        grid-row: 1;
        width: 90%;
        margin: 0px auto;
        .name {
          font-size: 2.5rem;
        }
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0px;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-gray-5);
    .control {
      margin: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }

      .bg-text {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 527px) and (max-width: 970px) {
  .right-header {
    .name {
      span {
        color: var(--color-white) !important;
        position: relative;
        &::before {
          animation: animate-first-name 6s linear infinite;
          @keyframes animate-first-name {
            15% {
              width: 0%;
            }

            40% {
              width: 51%;
            }

            65% {
              width: 51%;
            }
          }
        }
      }

      span::before,
      .last-name::before,
      .kaf::before {
        content: attr(data-text);
        position: absolute;
        width: 0px;
        height: 100%;
        color: var(--color-secondary);
        border-bottom: 4px solid var(--color-secondary);
        text-shadow: 0px 0px 2px var(--color-secondary);
        overflow: hidden;
      }

      .last-name {
        &::before {
          left: 0%;
          animation: animate-last-name 6s linear infinite;
          @keyframes animate-last-name {
            40% {
              width: 0%;
            }

            50% {
              width: 109%;
            }

            65% {
              width: 109%;
            }
          }
        }
      }

      .kaf {
        &::before {
          left: 0%;
          animation: animate-kaf 6s linear infinite;
          @keyframes animate-kaf {
            50% {
              width: 0%;
            }

            65% {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
